<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

<!--  配置一个全局过滤的filter-->
<filter>
  <filter-name>CharacterEncodingFilter</filter-name>
  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  <init-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
  </init-param>
</filter>
<filter-mapping>
  <filter-name>CharacterEncodingFilter</filter-name>
  <url-pattern>/*</url-pattern>
<!--配置对哪个资源进行过滤，这里/*代表对所有资源都进行过滤-->
</filter-mapping>

<!--  -->


<!--配置SpringMVC的前端控制器-->
<servlet>
  <servlet-name>DispatcherServlet</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
<!--spring-mvc.xml给核心的控制器用，因而在要告诉控制器它在哪
所以要在配置这个servlet时就告诉他它在哪-->
  <init-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring-mvc.xml</param-value>
  </init-param>

  <load-on-startup>1</load-on-startup>
<!--load-on-startup代表服务器启动时就去加载我这个servlet，创建对象-->
<!--  不配就默认第一次访问时加载-->
</servlet>
<servlet-mapping>
  <servlet-name>DispatcherServlet</servlet-name>
  <url-pattern>/</url-pattern>
<!--所有url-->
<!--  此时会将jquery也当成requestmapping进行匹配-->
</servlet-mapping>


  <!--全局初始化参数-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>


<!--&lt;!&ndash;  配置监听器&ndash;&gt;-->
<!--<listener>-->
<!--  <listener-class>com.ly.listener.ContextLoaderListener</listener-class>-->
<!--</listener>-->

<!--替代上面-->
<!-- 这个的作用是在web应用启动时加载spring的配置文件，创建applicationcontext，将其存到最大的servletcontext中
   需要全局初始化参数即上面的context-param
  ppt：03 p3
-->
<listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>
<!--  listener会自动去找全局初始化参数中的东西-->
  



  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.ly.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>WebApplicationContextUtil</servlet-name>
    <servlet-class>com.ly.test.WebApplicationContextUtilsTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebApplicationContextUtil</servlet-name>
    <url-pattern>/dd</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>